
<div class="fly-tab fly-tab-index">
    <span>
        <a href="/list">全部</a>
        <a href="/list/index/1">未结帖</a>
        <a href="/list/index/2">已采纳</a>
        <a href="/list/index/3">精帖</a>
        <a href="/list/index/4">我的帖</a>
    </span>
    <form action="/search" class="fly-search">
        <i class="iconfont icon-sousuo"></i>
        <input class="layui-input" autocomplete="off" placeholder="搜索内容，回车跳转" type="text" name="value">
    </form>
    <a href="/content/add" class="layui-btn jie-add">发布问题</a>
</div>