@{
    ViewBag.Title = "格式化SQL-包子的博客";
    ViewBag.KeyWords = "在线工具-在线格式话sql-博客-包子的博客";
    ViewBag.Description = "格式化sql小工具，在线格式化sql代码，包子的博客。";
    ViewBag.Author = "包子也沉默";
    Layout = "~/Areas/Tools/Views/Shared/tools.cshtml";
}

<h2>Index</h2>
